.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  min-width: 300px;
}

.details__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px dashed gray;
  border-radius: 15px;
}
