.header, .main {
  width: 100%;
  overflow-x: hidden;
  padding: 10px 0;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  border: 1px solid gray;
  border-radius: 7px;
  padding: 10px 0;
}

.item__logo {
  width: 200px;
  overflow: hidden;
}
.item__image {
  width: 100%;
}

.item__title {
  color: rgb(76, 10, 10);
}

.item__desc {
  color: rgb(5, 5, 34);
}